.vscode
.venv
uv.lock
#*.ipynb
bears
*.ipynb_checkpoints
tmp
*/**/__pycache__

# data
*/**/misc
*/**/flower_data
*/**/data
*/**/cifar10
*/**/cifar10_data
*/**/cifar_100
*/**/cifar10_3class_imbalanced
*/**/dataset
*/**/model.safetensors
*/**/glove*.txt
*/**/imdb_data
*/**/fruit_and_vegetable_subset
*/**/fruit_and_vegetable_subset.zip
*/**/oxford3pet_data
*/**/EMNIST_data